body {
  font-family: sans-serif;
}
.container > div {
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(207 232 220);
  border: 2px solid rgb(79 185 227);
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-auto-rows: minmax(50px, auto);

  gap: 20px;
}

.container  div:first-child {
    grid-column: 1 / 3  ;
    grid-row: 1;
    background-color: aqua;
}

@media print {
  /* All your print styles go here */
  .container{
    /* display: none !important; */
  }
}