@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /* height: 300vh; */
  position: relative;
}
.main {
  position: relative;
  height: auto;
}

nav {
  position: sticky;
  top: 0;
}
nav table {
  height: 100px;
  width: 100%;
  top: 0;
}

table th a {
  color: black;
  text-decoration: none;
  border: 2px solid green;
  padding: 5px 10px;
  margin: 5px 10px;
  float: right;
}

table th:last-child {
  padding-right: 50px;
}
.section {
  border: 2px solid green;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.sec-one {
  position: relative;
  height: 90vh;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/4bc8229474915483b1abd9e8/dfggg-min.jpg);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}
.sec-one .box-1 {
  background-color: #5576fb;
  color: #ffffff;
  padding: 30px 50px;
  max-width: 400px;
  min-height: 420px;
  position: absolute;
  bottom: 80px;
  left: 120px;
}

.box-1 h1 {
  font-size: 3.75rem;
  line-height: 100%;
  max-height: 120px;
  font-weight: 700;
}

.box-1 p {
  margin: 40px 0;
}

.box-1 a {
  color: #ffffff;
}

.box-1 button {
  border: none;
  background-color: #ffffff;
  color: #5576fb;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 20px auto 0 0;
  padding: 12px 54px;
  border-radius: 20px;
}

.sec-two {
  position: relative;
  height: 535px;
}
.sec-two .box {
  height: 535px;
  width: 33%;
  /* border: 2px solid red; */
  float: left;
}

.sec-two .box h2 {
  font-size: 3.15em;
  margin: 30px 50px;
  padding-top: 70px;
}

.sec-two .box p {
  margin: 0px 50px;
  width: 80%;
  font-size: 1.2em;
  line-height: 200%;
}

.sec-two .box i {
  margin: 10px 50px;
  font-size: 3.75em;
  line-height: 200%;
}

.sec-two .one {
  background-color: #879ffc;
  color: #ffffff;
}

.sec-two .two,
.sec-two .three {
  background-color: #f2f2f2;
  color: #5576fb;
}

.sec-two .two p,
.sec-two .three p {
  color: #000000;
}

.sec-three {
  position: relative;
  height: 535px;
  background-color: #5576fb;
  color: #ffffff;
  text-align: center;
}

.sec-three h1 {
  font-size: 2.7em;
  padding: 30px 0 10px 0;
}

.sec-three a {
  color: #ffffff;
  padding-bottom: 10px;
}

.sec-three .container{
    position: absolute;
    top: 130px;
    width: 100%;
    padding: auto;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
}

.sec-three .box {
  /* border: 2px solid red; */
  background-color: #f2f2f2;
  max-width: 350px;
  padding: 30px;
  margin: 20px;
}

.sec-three .box img {
  height: 240px;
  width: 240px;
  border-radius: 50%;
}
.sec-three .box h3 {
  color: #000000d3;
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 10px 0;
}

.sec-three .box h4 {
  color: #5576fb;
  font-size: 1em;
  font-weight: 500;
}

.sec-three .box p {
  color: #000000d3;
  font-size: 0.8em;
  margin-top: 10px;
  line-height: 150%;
}

.sec-three .box i {
  color: #5576fb;
  font-size: 1.2em;
  margin-top: 10px;
  padding: 5px;
  line-height: 150%;
}
