@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /* height: 300vh; */
  position: relative;
  background-color: #121723;
}

nav {
  position: fixed;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  
}

nav .logo {
  display: inline-block;
  display: flex;
}

.logo img {
  /* background-color: black; */
  height: 40px;
  /* width: 40px; */
}

nav .manu ul {
  display: flex;
  list-style-type: none;
}

.manu li {
  /* border: 2px solid red; */
  padding: 10px;
  margin: 0 5px;
}

.manu li a {
  text-decoration: none;
  color: #ffffffb2;
}
.manu li:hover a {
  text-decoration: none;
  color: #ffffff;
}

nav .buttons button {
  /* border: 2px solid red; */
  color: #ffffff;
  border: none;
  background: none;
  min-height: 48px;
  padding: 0px 10px;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1.3px;
}
nav .buttons button:hover {
  color: #ffffffb2;
}

.buttons #singup {
  background-color: #4f6cf7;
  border-radius: 2px;
  min-width: 107px;
  margin: 0 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.buttons #singup:hover {
  background-color: #6981f8;
}

nav .buttons button:last-child {
  font-size: 1.5em;
}

.sec-one {
  width: 100%;
  height: 80vh;
  background-color: #1e232e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-content: center;
  color: #ffffff;
  text-align: center;
  
}

.sec-one h1 {
  max-width: 800px;
  font-size: 3em;
  margin-bottom: 20px;
}

.sec-one p {
  max-width: 800px;
  font-size: 1.2em;
  color: #959cb1;
  margin-bottom: 48px;
  line-height: 150%;
}

.sec-one button {
  height: 56px;
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.sec-one .buttons #one {
  background-color: #4f6cf7;
  border: none;
  color: #ffffff;
}

.sec-one .buttons #one:hover {
  background-color: #3c5bf5;
}

.sec-one .buttons #two {
  border: none;
  margin-left: 16px;
  background-color: #ffffff1a;
  color: #ffffff;
}

.sec-one .buttons #two:hover {
  background-color: #0000001a;
}

.sec-two {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  background-color: #0f141df8;
  min-height: 1086px;
  
}

.sec-two .text-con {
  margin: 112px 195px 100px;
}

.sec-two .text-con h1 {
  font-size: 2.5em;
  margin-bottom: 16px;
}

.sec-two .text-con p {
  max-width: 600px;
  font-size: 1.2em;
  color: #959cb1;
  margin-bottom: 48px;
  line-height: 150%;
}

.sec-two .features-box {
  text-align: left;
  display: grid;
  gap: 20px 20px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 40px;
  max-width: 1500px;
}

.sec-two .features-box .img {
  height: 70px;
  width: 70px;
  background-color: #122244;
  border-radius: 5px;
  margin-bottom: 40px;
}

.sec-two .features-box .img i {
  font-size: 2.5em;
  color: #3c5bf5;
  place-content: center;
  text-align: center;
  height: 70px;
  width: 70px;
  /* background-color: #122244; */
  border-radius: 5px;
  margin-bottom: 40px;
}

.sec-two .features-box h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.sec-two .features-box p {
  font-size: 1em;
  color: #959cb1;
  margin-bottom: 48px;
  line-height: 150%;
}

.sec-three {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  background-color: #0f141df8;
  background-image: url("https://startup.nextjstemplates.com/images/video/shape.svg");
  background-origin: border-box;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  
}

.sec-three .text-con {
  margin: 112px 195px 50px;
}

.sec-three .text-con h1 {
  font-size: 2.5em;
  margin-bottom: 16px;
}

.sec-three .text-con p {
  max-width: 600px;
  font-size: 1.2em;
  color: #959cb1;
  margin-bottom: 48px;
  line-height: 150%;
}

.sec-three .video {
  position: relative;
  border-radius: 5px;
  height: 440px;
  width: 770px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://startup.nextjstemplates.com/_next/image?url=%2Fimages%2Fvideo%2Fvideo.jpg&w=1200&q=7");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec-three .video i {
  color: #ffffff;
  font-size: 4em;
  cursor: pointer;
}

.sec-four {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  background-color: #0f141df8;
  padding: 64px 120px;
  
}

.sec-four .box {
  width: 89%;
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #1e232e;
  padding: 40px 50px;
}

.sec-four .box div {
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  justify-content: center;
  gap: 20px;
}

.sec-four .box img {
  height: 40px;
  width: auto;
}

.sec-five {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #0f141df8;
  padding: 64px;
  color: #ffffff;
  
}
.sec-five .main-box {
  max-width: 1500px;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
}

.sec-five .main-box .box-one {
  width: 50%;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 480px; */
  padding-right: 20px;
}

.sec-five .main-box .box-two {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 480px;
}
.sec-five .main-box .box-two img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 480px;
}

.sec-five .main-box .box-one h2 {
  font-size: 3em;
  padding-bottom: 16px;
}

.sec-five .main-box .box-one p {
  max-width: 600px;
  font-size: 1.2em;
  color: #959cb1;
  margin-bottom: 48px;
  line-height: 150%;
}

.sec-five .main-box .box-one ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sec-five .main-box .box-one li {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.box-one li .img {
  text-align: center;
  place-content: center;
  height: 30px;
  width: 30px;
  background-color: #122244;
  border-radius: 5px;
}

.box-one li .img i {
  color: #3c5bf5;
  font-size: 1.5em;
}

.box-one li span {
  color: #959cb1;
  font-size: 1.2em;
  padding-right: 30px;
}

.sec-six {
  background-color: #121723;
  padding: 112px 0;
  gap: 33px;
  display: flex;
  justify-content: center;
}

.sec-six .main {
  max-width: 1500px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  /* border: 2px solid red; */
}

.sec-six .box-one {
  background-color: #1e232e;
  min-height: 616px;
  padding: 55px 32px;
  margin-right: 5%;
  width: 55%;
}

.sec-six .box-two {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #2c303b;
  padding: 44px;
  background-color: #1e232e;
  min-height: 616px;
  width: 40%;
}

.sec-six .box-two h2 {
  font-size: 2.6em;
  margin-bottom: 12px;
}

.sec-six .box-two p {
  font-size: 1.5em;
  color: #959cb1;
  margin-bottom: 48px;
}

.sec-six .box-two input {
  width: 100%;
  padding: 12px 24px;
  border: none;
  background-color: #2c303b;
  font-size: 1.2em;
  margin-bottom: 16px;
}

.sec-six .box-two button {
  width: 100%;
  padding: 12px 24px;
  border: none;
  background-color: #3c5bf5;
  border-radius: 2px;
  color: #ffffff;
  font-size: 1.2em;
  margin-bottom: 25px;
}

.sec-six .box-two input::placeholder {
  color: #959cb1;
}

.sec-six .box-one h2 {
  font-size: 2.6em;
  margin-bottom: 12px;
}

.sec-six .box-one p {
  font-size: 1.5em;
  color: #959cb1;
  margin-bottom: 48px;
}

.sec-six .box-one .input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;

  /* border: 2px solid red; */
}

.sec-six .box-one .input div {
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  /* border: 2px solid red; */
}

.sec-six .box-one .input input {
  background-color: #2c303b;
  border: none;
  padding: 12px 23px;
  font-size: 1em;
  color: #ffffff;
}

.sec-six .box-one .input input::placeholder {
  color: #959cb1;
}

.sec-six .box-one .input .textarea {
  margin-top: 16px;
}

.sec-six .box-one .input textarea {
  resize: none;
  border: none;
  height: 146px;
  width: 215%;
  padding: 12px 23px;
  font-size: 1em;
  background-color: #2c303b;
}

.sec-six .box-one .input textarea::placeholder {
  color: #959cb1;
}

.box-one .input label {
  padding-bottom: 12px;
}

.sec-six .box-one button {
  background-color: #3c5bf5;
  color: #ffffff;
  font-size: 1.5em;
  padding: 16px 36px;
  margin-top: 32px;
  border: none;
  border-radius: 2px;
}

footer {
  display: flex;
  color: #ffffff;
  background-color: #1e232e;
  justify-content: center;
}

footer .main {
  width: 80%;
  max-width: 1500px;
  margin-top: 96px;
}

footer .main .box-one {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

footer .main .box-one div {
  margin-bottom: 64px;
}

.box-one .in-box-one img {
  height: 27px;
}
.box-one .in-box-one p {
  width: 60%;
  font-size: 1.2em;
  color: #959cb1;
  margin-bottom: 48px;
  line-height: 150%;
}

.box-one .in-box-one i {
  margin-right: 20px;
  font-size: 1.2em;
  color: #959cb1;
  margin-bottom: 48px;
  line-height: 150%;
}

.box-one .in-box-one i:hover {
  cursor: pointer;
  color: #3c5bf5;
}

.box-one .in-box-two h2,
.box-one .in-box-three h2,
.box-one .in-box-three h2 {
  padding-bottom: 40px;
}

.in-box-two .links {
  display: flex;
  flex-direction: column;
}

.box-one .in-box-two a,
.box-one .in-box-three a,
.box-one .in-box-three a {
  color: #959cb1;
  font-size: 1.2em;
  padding-bottom: 16px;
  text-decoration: none;
}

.box-one .in-box-two a:hover,
.box-one .in-box-three a:hover,
.box-one .in-box-three a:hover {
  color: #3c5bf5;
  cursor: pointer;
}

footer .main .box-two {
  border-top: 2px solid #959cb1;
  text-align: center;
  font-size: 1.2em;
}

footer .main .box-two p {
  margin: 32px 0;
}

@media (max-width: 1328px) {
  .sec-five .main-box .box-one ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
  }
  .sec-five .box-two {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .sec-six .box-one {
    width: 100%;
    margin-bottom: 50px;
    margin-right: 0;
  }

  .sec-six .box-two {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .sec-five .main-box .box-one ul {
    grid-template-columns: 1fr 1fr;
  }

  .sec-five {
    flex-direction: column;
  }
}
